.my__Navavigation {
  position: fixed;
  width: 100% !important;

  /* background-color: #222222;
  text-transform: uppercase; */
}

.my__logo {
  margin-right: 50px;
  display: initial;
  float: left;
  color: #719cfe;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.6);
}

.Nav__link {
  z-index: 999px;
  color: white !important;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none !important;
  z-index: 100 !important;
}

.nav__links {
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .phone {
    display: none;
  }
}

.link_wrapper {
  margin-left: 80px;
}
